<div class="page">
    <div class="app-page-header clr-row">
      <div class="clr-col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2><b>PROFILE CARTE</b></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" *ngIf="Ajouter_post">
      <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="modal-header">
            <button
              aria-label="Close"
              class="close"
              type="button"
              (click)="Cansel()"
            >
              <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
            <h3 class="modal-title">PROFILE CARTE</h3>
          </div>
          <div class="modal-body">
            <div class="clr-row">
              <div class="clr-col-sm-12 clr-col-md-12">
                <ng-container *ngIf="forms | async as form">
                  <ngx-smart-form
                    #formvalue
                    [form]="form"
                    (submit)="onSubmit($event)"
                    [submitable]="true"
                  ></ngx-smart-form>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true" *ngIf="Ajouter_post"></div>
  
    <div class="clr-col-12">
      <div class="clr-row page-content">
        <div class="clr-col-md-12 view-area data-area">
          <div class="table-container">
            <clr-datagrid>
              <clr-dg-action-bar>
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn" (click)="Ajouter()">
                    <clr-icon shape="plus-circle" size="20"></clr-icon>
                    Nouveau
                  </button>
  
                  <button type="button" class="btn btn-outline" (click)="getData()">
                    <clr-icon shape="sync" size="20"></clr-icon>
                    Actualiser
                  </button>
                </div>
              </clr-dg-action-bar>
              <clr-dg-column> Référence </clr-dg-column>
              <clr-dg-column [clrDgField]="'label'"
                >Libellé</clr-dg-column
              >
              <clr-dg-column [clrDgField]="'prix'"
                >Prix</clr-dg-column
              >

              <clr-dg-column [clrDgField]="'prix'"
                >Durée de validité (En Jours)</clr-dg-column
              >
              <clr-dg-column [clrDgField]="'prix'"
                >Type</clr-dg-column
              >
        
  
              <clr-dg-row *clrDgItems="let designer of designers">
                <clr-dg-action-overflow>
                  <a (click)="Edite(designer)" id="btnLigne">
                    <button class="btn btn-sm btn-link btn-block">
                      <clr-icon shape="pencil" size="20"></clr-icon>
                      Modifier
                    </button>
                  </a>
                  <a (click)="deleteData(designer.id)" id="btnLigne">
                    <button class="btn btn-sm btn-link btn-block">
                      <clr-icon shape="trash" size="20"></clr-icon>
                      Supprimer
                    </button>
                  </a>
                </clr-dg-action-overflow>
                <clr-dg-cell>N•{{ designer.id }}</clr-dg-cell>
                <clr-dg-cell>{{ designer.label | uppercase }} </clr-dg-cell>
                <clr-dg-cell>{{ designer.prix  }} </clr-dg-cell>
                <clr-dg-cell>{{ designer.duree }} </clr-dg-cell>
                <clr-dg-cell>{{ designer.type.label }} </clr-dg-cell>


              
              </clr-dg-row>
  
              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
                  </clr-dg-page-size>
                  {{ pagination.firstItem + 1 }} -
                  {{ pagination.lastItem + 1 }} ..
                  {{ pagination.totalItems }}
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
            <div class="load" *ngIf="sniper">
              <clr-spinner [clrMedium]="true"></clr-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  