.hardware-grid {
  text-align: center;
  position: relative;
  left: 5rem;
}
.task-grid {
  text-align: center;
  position: relative;
}

.vertical-line {
  position: relative;
  content: "";
  top: 5px;
  height: 15rem;
  border-left: 3px solid #808588;
  left: 6rem;
}

@media screen and (max-width: 1500px) {
  .hardware-grid {
    text-align: center;
    left: 0rem;
  }
  .vertical-line {
    display: none;
  }
  .task-grid {
    text-align: center;
    left: 0rem;
  }
}
