<div class="page">
    <div class="app-page-header clr-row">
      <div class="clr-col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2><b>UTILISATEURS SYSTEMEss</b></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="app-page-content clr-row">
      <hr />
      <div class="modal" *ngIf="ajouter">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="modal-header">
              <button
                aria-label="Close"
                class="close"
                type="button"
                (click)="ferme()"
              >
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
              <h3 class="modal-title">Nouvel Utilisateur</h3>
            </div>
            <div class="modal-body">
              <app-add-user></app-add-user>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop" aria-hidden="true" *ngIf="ajouter"></div>
      <!-- Modification d'un utilisateur -->
      <div class="modal" *ngIf="update">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="modal-header">
              <button
                aria-label="Close"
                class="close"
                type="button"
                (click)="ferme()"
              >
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
              <h3 class="modal-title">Modification d'un utilisateur</h3>
            </div>
            <div class="modal-body">
              <app-update-user [upData]="dataup"></app-update-user>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop" aria-hidden="true" *ngIf="update"></div>
      <div class="clr-col-12">
        <div class="clr-row page-content">
          <div class="clr-col-md-12 view-area data-area">
            <div class="table-container">
              <clr-dg-action-bar>
                <div class="btn-group btn-primary btn-sm">
                  <!-- <a routerLink="/app/add-user"> -->
                  <button
                    type="button"
                    class="btn"
                    *ngIf="bt_ajouter"
                    (click)="nouveau()"
                  >
                    <clr-icon shape="plus-circle" size="20"></clr-icon>
                    Nouveau
                  </button>
                  <!-- </a> -->
                  <button
                    type="button"
                    class="btn"
                    *ngIf="fermer"
                    (click)="ferme()"
                  >
                    <clr-icon shape="plus-circle" size="25"></clr-icon>
                    fermer
                  </button>
                </div>
              </clr-dg-action-bar>
              <clr-datagrid>
                <!-- <clr-dg-column>Image</clr-dg-column> -->
                <clr-dg-column [clrDgField]="'lastname'">Nom</clr-dg-column>
                <clr-dg-column [clrDgField]="'firstname'">
                  Prénoms
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
                <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
                  <clr-dg-action-overflow>
                    <button
                      class="btn btn-sm btn-link btn-block"
                      (click)="updateData(user)"
                    >
                      <clr-icon shape="pencil" size="20"></clr-icon>
                      Modifier
                    </button>
                    <a (click)="deleteData(user.id)" id="btnLigne">
                      <button class="btn btn-sm btn-link btn-block">
                        <clr-icon shape="trash" size="20"></clr-icon>
                        Supprimer
                      </button>
                    </a>
                  </clr-dg-action-overflow>
                  <clr-dg-cell>{{ user.details.lastname }}</clr-dg-cell>
                  <clr-dg-cell>{{ user.details.firstname }}</clr-dg-cell>
                  <clr-dg-cell>{{ user.email }}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-detail *clrIfDetail="let detail">
                  <clr-dg-detail-body>
                    <h2>DETAILS UTILISATEURS</h2>
                    <hr class="hrLigne" />
                    <div class="clr-row">
                      <div class="clr-col-sm-12 clr-col-md-9">
                        <table class="table">
                          <tr>
                            <th>Nom</th>
                            <td>
                              {{ detail.details.lastname }}
                              {{ detail.details.firstname }}
                            </td>
                          </tr>
                          <tr>
                            <th>Date de naissance</th>
                            <td>{{ detail.details.birthday }}</td>
                          </tr>
                          <tr>
                            <th>username</th>
                            <td>{{ detail.username }}</td>
                          </tr>
                          <tr>
                            <th>Email</th>
                            <td>{{ detail.email }}</td>
                          </tr>
                          <tr>
                            <th>Téléphone</th>
                            <td>{{ detail.details.phone }}</td>
                          </tr>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </clr-dg-detail-body>
                </clr-dg-detail>
                <clr-dg-footer>
                  <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
                    </clr-dg-page-size>
                    {{ pagination.firstItem + 1 }} -
                    {{ pagination.lastItem + 1 }} ..
                    {{ pagination.totalItems }}
                  </clr-dg-pagination>
                </clr-dg-footer>
              </clr-datagrid>
              <div class="load" *ngIf="sniper">
                <clr-spinner [clrMedium]="true"></clr-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>