<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="atom" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">ELECTIONS</span>
  <clr-vertical-nav-group-children>
    <a
      clrVerticalNavLink
      routerLink="/app/elections"
      routerLinkActive="active"
    >
      <span class="sib_item">LISTE DES ELECTIONS</span>
    </a>

    <a clrVerticalNavLink routerLink="/app/materials" routerLinkActive="active">
      <span class="sib_item">NOUVELLE ELECTION</span>
    </a>

    



  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>

<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="assign-user" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">CANDIDATS</span>
  <clr-vertical-nav-group-children>
    <a clrVerticalNavLink routerLink="/app/candidats">
      <span class="sib_item">LISTE DES CANDIDATS</span>
    </a>

    <a clrVerticalNavLink routerLink="/app/task-calender">
      <span class="sib_item">NOUVEAU CANDIDATS</span>
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>

<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="list" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">ADMINISTRATEURS </span>
  <clr-vertical-nav-group-children>
    <a
      clrVerticalNavLink
      routerLink="/app/add-contracts"
      routerLinkActive="active"
    >
      <span class="sib_item">LISTE DES ADMINISTRATEURS</span>
    </a>

    <a clrVerticalNavLink routerLink="/app/contracts" routerLinkActive="active">
      <span class="sib_item"> NOUVEL ADMINISTRATEUR</span>
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>

<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="tape-drive" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">VOTANTS</span>
  <clr-vertical-nav-group-children>
    <a
      clrVerticalNavLink
      routerLink="/app/add-contracts"
      routerLinkActive="active"
    >
      <span class="sib_item">LISTE DES VOTANTS</span>
    </a>



  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>

<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="tools" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">RESULTATS</span>
  <clr-vertical-nav-group-children>
    <a clrVerticalNavLink routerLink="/app/stock" routerLinkActive="active">
      <span class="sib_item">AFFICHAGE DES RESULTATS</span>
    </a>
    
  </clr-vertical-nav-group-children>-->
</clr-vertical-nav-group> 

<!-- <clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="recycle" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">PIECES DE RECHANGE</span>
  <clr-vertical-nav-group-children>
    <a
      clrVerticalNavLink
      routerLink="/app/add-spare-part"
      routerLinkActive="active"
    >
      <span class="sib_item">AJOUTER UNE NOUVELLE PIECES</span>
    </a>
    <a
      clrVerticalNavLink
      routerLink="/app/list-spare-part"
      routerLinkActive="active"
    >
      <span class="sib_item">LISTE DES PIECES DE RECHANGE</span>
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group> -->

<!-- <clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="assign-user" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">PRESTATAIRES</span>
  <clr-vertical-nav-group-children>
    <a
      clrVerticalNavLink
      routerLink="/app/materialProvider"
      routerLinkActive="active"
    >
      <span class="sib_item">LISTE DES PRESTATAIRES</span>
    </a>

  </clr-vertical-nav-group-children>
</clr-vertical-nav-group> -->

<!-- <clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="users" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">EQUIPE GMAO</span>
  <clr-vertical-nav-group-children>
    <a clrVerticalNavLink routerLink="/app/list-member">
      <span class="sib_item">Mon équipe</span>
    </a>

    <a clrVerticalNavLink routerLink="/app/add-member">
      <span class="sib_item">AJOUTER UN MEMBRE</span>
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group> -->

<!--<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
  <span class="sib_items">CONFIGURATIONS</span>
  <clr-vertical-nav-group-children>
    <!-- <a
      routerLink="/app/identifiaction"
      routerLinkActive="active"
      clrVerticalNavLink
    >
      <span class="sib_item">Identification du Matériel</span>
    </a> 

    <a routerLink="/app/typeclients" routerLinkActive="active" clrVerticalNavLink>
      <span class="sib_item">TYPE CLIENT</span>
    </a>

    <a
      routerLink="/app/typeprofilecartes"
      routerLinkActive="active"
      clrVerticalNavLink
    >
      <span class="sib_item">TYPE PROFILE CARTE</span>
    </a>
    <a
      routerLink="/app/profilecartes"
      routerLinkActive="active"
      clrVerticalNavLink
    >
      <span class="sib_item"> PROFILE DE CARTE</span>
    </a>

    <a routerLink="/app/users" routerLinkActive="active" class="nav-link">
      <span class="sib_item">URILISATEURS</span>
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group> -->
