<div class="page">
    <div class="app-page-header clr-row">
      <div class="clr-col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2><b>COMPAGNIES PETROLIERES</b></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" *ngIf="Ajouter_post">
      <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="modal-header">
            <button
              aria-label="Close"
              class="close"
              type="button"
              (click)="Cansel()"
            >
              <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
            <h3 class="modal-title">COMPAGNIE PETROLIERE</h3>
          </div>
          <div class="modal-body">
            <div class="clr-row">
              <div class="clr-col-sm-12 clr-col-md-12">
                <ng-container *ngIf="forms | async as form">
                  <ngx-smart-form
                    #formvalue
                    [form]="form"
                    (submit)="onSubmit($event)"
                    [submitable]="true"
                  ></ngx-smart-form>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true" *ngIf="Ajouter_post"></div>
  
    <div class="clr-col-12">
      <div class="clr-row page-content">
        <div class="clr-col-md-12 view-area data-area">
          <div class="table-container">
            <clr-datagrid>
              <clr-dg-action-bar>
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn" (click)="Ajouter()">
                    <clr-icon shape="plus-circle" size="20"></clr-icon>
                    AJOUTER
                  </button>
  
                  <button type="button" class="btn btn-outline" (click)="getData()">
                    <clr-icon shape="sync" size="20"></clr-icon>
                    Actualiser
                  </button>
                </div>
              </clr-dg-action-bar>
              <!-- <clr-dg-column>Image</clr-dg-column> -->
              <clr-dg-column [clrDgField]="'raison_social'">Raison Social</clr-dg-column>
              <clr-dg-column [clrDgField]="'adresse'">
                Adresse
              </clr-dg-column>
              <clr-dg-column [clrDgField]="'connexion.email'">Email</clr-dg-column>
              <clr-dg-column [clrDgField]="'connexion.email'">Telephone</clr-dg-column>

              <clr-dg-row *clrDgItems="let designer of designers" [clrDgItem]="designer">
                <clr-dg-action-overflow>
                  <!-- <a (click)="Edite(designer)" id="btnLigne">
                    <button class="btn btn-sm btn-link btn-block">
                      <clr-icon shape="pencil" size="20"></clr-icon>
                      Modifier
                    </button>
                  </a> -->
                  <a (click)="deleteData(designer.id)" id="btnLigne">
                    <button class="btn btn-sm btn-link btn-block">
                      <clr-icon shape="trash" size="20"></clr-icon>
                      Supprimer
                    </button>
                  </a>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{ designer.raison_social }}</clr-dg-cell>
                <clr-dg-cell>{{ designer.adresse }}</clr-dg-cell>
                <clr-dg-cell>{{ designer.connexion.email }}</clr-dg-cell>
                <clr-dg-cell>{{ designer.telephone }}</clr-dg-cell>
              </clr-dg-row>
              <clr-dg-detail *clrIfDetail="let detail">
                <clr-dg-detail-body>
                  <h2>DETAILS COMPAGNIE</h2>
                  <hr class="hrLigne" />
                  <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-md-9">
                      <table class="table">
                        <tr>
                          <th>Raison Social</th>
                          <td>
                            {{ detail.raison_social }}
                          </td>
                        </tr>
                        <tr>
                          <th>Adresse</th>
                          <td>{{ detail.adresse }}</td>
                        </tr>
                        <tr>
                          <th>Username</th>
                          <td>{{ detail.connexion.username }}</td>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <td>{{ detail.connexion.email }}</td>
                        </tr>
                        <tr>
                          <th>Téléphone</th>
                          <td>{{ detail.telephone }}</td>
                        </tr>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </clr-dg-detail-body>
              </clr-dg-detail>
              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
                  </clr-dg-page-size>
                  {{ pagination.firstItem + 1 }} -
                  {{ pagination.lastItem + 1 }} ..
                  {{ pagination.totalItems }}
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
            <div class="load" *ngIf="sniper">
              <clr-spinner [clrMedium]="true"></clr-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  