.card {
  font-weight: 400;
  border: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.calendar {
  padding: 10px;
}

.calendar-main {
  border-top: 4px solid #053237;
}
